@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #101623;
    color: #edf3ff;
}

.container {
    padding: 32px 0 60px;
}

.container :where(.app-header, .suggestions, .prompt-wrapper, .disclaimer-text) {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.container .app-header {
    margin-top: 4vh;
}

.app-header .heading {
    font-size: 3rem;
    width: fit-content;
    background: linear-gradient(to right, #1d7efd, #8f6fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-header .sub-heading {
    font-size: 2.6rem;
    margin-top: -5px;
    color: #97a7ca;
}

.container .suggestions {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    margin-top: 9.5vh;
    list-style: none;
    scrollbar-width: none;
}

.suggestions .suggestions-item {
    background: #283045;
    padding: 18px;
    width: 228px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.3s ease;
}

.suggestions .suggestions-item:hover {
    background: #333e58;
}

.suggestions .suggestions-item .text {
    font-size: 1.1rem;
}

.suggestions .suggestions-item span {
    height: 45px;
    width: 45px;
    background: #101623;
    margin-top: 35px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #1d7efd;
}

.suggestions .suggestions-item:nth-child(2) span {
    color: #28a745;
}

.suggestions .suggestions-item:nth-child(3) span {
    color: #ffc107;
}

.suggestions .suggestions-item:nth-child(4) span {
    color: #6f42c1;
}